body {
    margin: 0px;
    background-color: #2B2D42;
}

.index {
    padding: 8px;
    margin: 48px;
    height: 80vh;
    width: 90vw;
    border-width: 8px;
    border-style: solid;
    border-color: #EDF2F4;
    border-radius: 4px;
    color: #EDF2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-text {
    display: block;
}

.index-nav {
    display: block;
}

.index h1 {
    font-family: monospace;
}

.index h3 {
    font-family: monospace;
}

.index p {
    font-family: monospace;
}