body {
    margin: 0px;
    background-color: #2B2D42;
}

.index {
    padding: 8px;
    margin: 48px;
    height: 80vh;
    width: 90vw;
    border-width: 8px;
    border-style: solid;
    border-color: #EDF2F4;
    border-radius: 4px;
    color: #EDF2F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-text {
    margin: 12px;
    display: block;
}

.index-nav {
    margin: 36px;
    display: block;
}

.index h1 {
    font-family: serif;
    margin: 0;
    font-size: 8em;
}

.index h3 {
    font-family: monospace;
    margin: 0;
    font-size: 3em;
}

.index p {
    font-family: monospace;
    margin: 0;
    font-size: 2em;
}

.index a {
    font-family: monospace;
    margin: 8px;
    font-size: 3em;
    color:#EDF2F4;
    text-decoration: none;
    border-style: none none solid none;
    border-color: #EDF2F4;
    padding: 0px 4px;
    display: block;
    width: 90%;
}